<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    COMPANY
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="About" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Blog" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="All products" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Location Maps" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="FAQ" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Contact us" />
    </ListItemButton>

    SERVICES
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Order tracking" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Wish List" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Login" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="My account" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Terms & Conditions" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Promotional Offer" />
    </ListItemButton>

    CUSTOMER charset                   <ListItemButton component="a" href="#simple-list" >
        <ListItemText primary="Log In" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="My Account" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Wish List" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Order Tracking" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="FAQ" />
    </ListItemButton>
    <ListItemButton component="a" href="#simple-list">
        <ListItemText primary="Contact us" />
    </ListItemButton>
    
</body>
</html>