.slider-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 33.33%; /* Each slide takes up 1/3rd of the screen */
    display: flex;
    /* justify-content: center; */
    /* border: 1px solid red; */
    justify-content: space-around;
    padding: 0;

}

.show{
    display: flex;
    justify-content: space-evenly
}
